*  {box-sizing: border-box;}

.navbar-brand {font-size: 27.45px;
              font-weight: 900;}

.name   {font-weight: 400;
    font-size: 18px;}

h1  {margin-left:  100px;}

p   {margin-left: 100px;}

.ellipse {right: 0;}

.docs    {right:  80px; }

.nav-text   {color: #000000; }

.footer > a{color: black;}